* {
    background-color: tomato;
}

h3 {
    color: white;
}

div {
    border-radius: 16px;
    background-color: rgb(240, 155, 140);
    padding: auto;
}

button {
    border-radius: 16px;
    background-color: white;
}