* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#200016, #10001f);
    height: 100vh;
    font-family: system-ui;
}

/*
text-decoration: noun; hide line of link
*/
a {
    text-decoration: none;
}