* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#200016, #10001f);
    height: 100vh;
    font-family: system-ui;
}

/*
text-decoration: noun; hide line of link
*/
a {
    text-decoration: none;
    color: white;
}

/*
display: flex; make flexablity 
*/
header {
    position: fixed;
    width: 95%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
    border-radius: 16px;
}

header ul li a:hover, .active {
    background: white;
    color: #200016;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#moon {
    mix-blend-mode: screen;
    transform: translateY(80px);
}

.flutter-title {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-140px);
}