#kotlin {
    /*color: #ffe000;*/
}

/*---------------------------------------
  ABOUT              
-----------------------------------------*/

#about,
#project,
#team,
#contact,
#kotlin,
footer {
  background: #ffffff;
}

#about,
#team,
#contact,
#kotlin {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

#about {
    padding-top: 200px;
    padding-bottom: 150px;
}

.about-info h3 {
    font-size: 14px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin: 0;
}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/

@media (max-width: 980px) {

    #about {
        padding-top: 120px;
        padding-bottom: 100px;
    }

}

@media (max-width: 580px) {

    .about-info h3 {
        font-size: 12px;
        letter-spacing: 6px;
    }

}