* {
    background: turquoise;
}

body {
    background: turquoise;
}

a {
    color: white;
}

div {
    background: coral;
}

li {
    color: blueviolet;
}

button {
    background: yellow;
}

section {
    background: tomato;
}